<div class="lmain">
    <div style="margin:10vh 2vh;">
        <p class="msg">Assigning Tile number...</p>
    </div>
</div>

<script>
    window.onload = () => {
        //var flippedTiles = new XMLHttpRequest();
        //flippedTiles.open("get","/random",true);
        //flippedTiles.send();
    }
</script>

<style>
    .lmain {
        height: 100vh;
        position: relative;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
    }
    .msg {
        color: #754C24;
        font-size: 1em;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Times New Roman', Times, serif;
    }
</style>