<meta id="viewport" name="viewport" content="initial-scale=1.0; user-scalable=0; minimum-scale=1.0; maximum-scale=1.0" />
<link rel="stylesheet" href="/css/slide-to-submit.css">
<script src="/js/jquery.js"></script>
<script src="/js/slide-to-submit.js"></script>
<div class="lmain">
        <form action="/lightup" method="post">
           <input type="hidden" id="id" name="id" value="{{ id }}">
           <input type="submit" value="Press to Light Up Tile {{ id }}" class="btn" hidden="true">
            <div class="tile-submit">
               <strong> {{#pad id}}{{/pad}} </strong>
            </div>
           <div id="lightUpBtn" class="slide-submit" hidden="true">
               <div class="slide-submit-text">Slide</div>
               <div class="slide-submit-thumb"></div>
           </div>
        </form>
        <div class="lsgbook_desc" id="msg" hidden="true">
            <textarea rows="5" disabled>Tile {{id}}
has been light up.
Thank you for being part of this significant milestone.
            </textarea>
        </div>
</div>

<script>
    window.onload = () => {
        var flippedTiles = new XMLHttpRequest();
        flippedTiles.responseType = "json";
        flippedTiles.open("GET","/tiles",true);
        flippedTiles.send();
        flippedTiles.onload = () => {
            var tiles = flippedTiles.response;
            var id = document.getElementById("id");
            if (tiles[id.value] === true) {
                document.getElementById("lightUpBtn").hidden = true;
                document.getElementById("msg").hidden = false;
            }
            else {
                //document.getElementById("light-up-btn").classList.remove("disabled");
                document.getElementById("lightUpBtn").hidden = false;
                document.getElementById("msg").hidden = true;
            }

        }
    }
    $('.slide-submit').slideToSubmit({
        errorText: 'Check required fields', // Shown if fields are invalid & browser doesn't have built-in tooltips
        successText: 'Thank You', // Shown before submitting
        submitDelay: 2000, // Delay for showing successText
        graceZone: 100 // Pixels from the right that is accepted as a full side
    });

</script>

<style>
    .lmain {
        /*height: 100vh;*/
        /*position: absolute;*/
        text-align: center;
        font-family:  Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        background-color: #184896;
        /*background-repeat: no-repeat;*/
        /*background-size: cover;*/
        /*background-position: center bottom;*/
    }

    .lsgbook_desc {
        font-size: 1em;
        color: black;
        font-family:  Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    }
    textarea {
        text-align: center;
        background-color: white;
        font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        overflow: hidden;
        resize: none;
        opacity: 100.0;
    }

   /* @media (orientation: portrait) {
        .lmain {
            background-image: url('nypimg/background-web-Vertical.jpg');
            background-repeat: no-repeat;
            height: 100vh;
            width: 100%;
            background-size: contain;
            !*width: 200%;*!
        }
        .lsgbook_desc {
            width: 150%;
            font-size: .8em;
            margin-left: 9%;
            padding-left: 45%;
            transform: rotate(90deg);
            transform-origin: 5% 5%;
        }
    }*/
    @media (orientation: portrait) {
        .lmain {
            background-image: url('nypimg/background-web-Portrait.png');
            background-repeat: no-repeat;
            height: 108vh;
            width: 100%;
            background-size:contain;
            background-position: center top;
            /*width: 200%;*/
        }
        .lsgbook_desc {
            font-size: .9em;
            padding-top: 101%;
            padding-left: 32%;
        }
        textarea {
            font-size: 0.7em;
            border: 1px solid #ed1c24;
        }
    }
    @media (orientation: landscape) {
        .lmain {
            background-image: url('nypimg/background-web.png');
            height: 108vh;
            width: auto;
            background-repeat: no-repeat;
            background-size: cover;
            /*background-position: center top;*/
            /*background-size: 50% 50%;*/
            /*width: 100%;*/
        }
        .lsgbook_desc {
            font-size: 1em;
            padding-top: 20%;
            padding-left: 50%;
        }
        textarea {
            font-size: 1em;
            border: 11px solid #ed1c24;
        }
    }

</style>