<meta id="viewport" name="viewport" content="initial-scale=1.0; user-scalable=0; minimum-scale=1.0; maximum-scale=1.0" />
<link rel="stylesheet" href="/css/slide-to-submit.css">
<script src="/js/jquery.js"></script>
<script src="/js/slide-to-submit.js"></script>
<div class="lmain">
    <div>

            <form action="/lightup" method="post">
               <input type="hidden" id="id" name="id" value="{{ id }}">
               <input type="submit" value="Press to Light Up Tile {{ id }}" class="btn" hidden="true">
                <div class="tile-submit">
                    <div>Tile {{ id }}</div>
                </div>
               <div id="lightUpBtn" class="slide-submit">
                   <div class="slide-submit-text">Slide > ></div>
                   <div class="slide-submit-thumb"></div>
               </div>
            </form>
            <p class="lsgbook_desc" id="msg" hidden="true">Tile {{id}} had been Light Up. Thank you for your participation.</p>
    </div>
</div>

<script>
    window.onload = () => {
        var flippedTiles = new XMLHttpRequest();
        flippedTiles.responseType = "json";
        flippedTiles.open("GET","/tiles",true);
        flippedTiles.send();
        flippedTiles.onload = () => {
            var tiles = flippedTiles.response;
            var id = document.getElementById("id");
            if (tiles[id.value] === true) {
                document.getElementById("lightUpBtn").hidden = true;
                document.getElementById("msg").hidden = false;
            }
            else {
                //document.getElementById("light-up-btn").classList.remove("disabled");
                document.getElementById("lightUpBtn").hidden = false;
                document.getElementById("msg").hidden = true;
            }

        }
    }
    $('.slide-submit').slideToSubmit({
        errorText: 'Check required fields', // Shown if fields are invalid & browser doesn't have built-in tooltips
        successText: 'Thank You', // Shown before submitting
        submitDelay: 2000, // Delay for showing successText
        graceZone: 100 // Pixels from the right that is accepted as a full side
    });
</script>

<style>
    .lmain {
        height: 100vh;
        position: absolute;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #222222;
        background-repeat: no-repeat;
        background-size: cover;
        /*background-position: center bottom;*/
    }

    .lsgbook_desc {
        font-size: 1em;
        color: white;
        /*margin: 31% auto auto auto;*/
    }

    @media (orientation: portrait) {
        .lmain {
            background-image: url('nypimg/background-web.jpg');
            transform: rotate(90deg);
            background-position: center top;
            background-size: contain;
            width: 200%;
        }
        .lsgbook_desc {
            margin: 31% auto auto auto;
        }
    }
    @media (orientation: landscape) {
        .lmain {
            background-image: url('nypimg/background-web.jpg');
            background-position: center top;
            background-size: contain;
            width: 100%;
        }
        .lsgbook_title {
            font-size: 2.2em;
        }
        .lsgbook_desc {
            font-size: 1.45em;
            margin: 10% auto auto auto;
        }
    }

</style>