<div class="lmain">
    <div class="ltop">
        <img class="lnyp30" src="/nypimg/corp_nyp_logo.png"/>
        <div style="margin:3vh 2vh;">
<!--            <p class="lsgbook">
                <span class="lsgbook_title">Singapore Book of Records</span>
                <br/>
                <span class="lsgbook_desc">Largest Mass Digital Activation Of A Screen Projection</span>
            </p>-->
            <form action="/lightup" method="post">
                <input type="hidden" id="id" name="id" value="{{ id }}">
                <input id="light-up-btn" type="submit" value="Press to Light Up Tile {{ id }}" class="btn">
            </form>
            <br/>
            <p class="lsgbook_desc" id="msg" hidden="true">Tile {{id}} had been Light Up. Thank you for your participation.</p>
        </div>
    </div>
    <div class="lbottom">
        <div class="lpowered">Powered By<img src="/nypimg/logo_nyp.png"/></div>
    </div>
</div>

<script>
    window.onload = () => {
        var flippedTiles = new XMLHttpRequest();
        flippedTiles.responseType = "json";
        flippedTiles.open("GET","/tiles",true);
        flippedTiles.send();
        flippedTiles.onload = () => {
            var tiles = flippedTiles.response;
            var id = document.getElementById("id");
            if (tiles[id.value] === true) {
                document.getElementById("light-up-btn").classList.add("disabled");
                document.getElementById("msg").hidden = false;
            }
            else {
                document.getElementById("light-up-btn").classList.remove("disabled");
                document.getElementById("msg").hidden = true;
            }

        }
    }
</script>

<style>
    .lmain {
        height: 100vh;
        position: relative;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center bottom;
    }
    .ltop {
        width: 100%;
        height: 80vh;
        position: absolute;
        top: 0%;
        padding-top: 2vh;
    }
    .lbottom {
        width: 100%;
        height: 20vh;
        position: absolute;
        bottom: 0;
        top: 80%;
        padding-top: 0vh;
    }
    .lnyp30 {
        height: 35vh;
        width: auto;
    }
    .lsgbook {
        color: #754C24;
    }
    .lsgbook_title {
        font-size: 1.5em;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Times New Roman', Times, serif;
    }
    .lsgbook_desc {
        font-size: 1em;
    }
    .lpowered {
        padding-top: 1em;
        width: auto;
        height: 9vh;
        padding-bottom: 1em;
        font-size: 1em;
        color: white;
    }
    @media (orientation: portrait) {
        .lmain {
            background-image: url('nypimg/bkgd_red_portrait.png');
        }
    }
    @media (orientation: landscape) {
        .lmain {
            background-image: url('nypimg/bkgd_red_landscape.png');
        }
        .lsgbook_title {
            font-size: 2.2em;
        }
        .lsgbook_desc {
            font-size: 1.45em;
        }
    }
    @media screen and (max-width: 280px) {
        .lmain {
            height: 107vh;
            width: 107vw;
        }
    }
    @media screen and (max-width: 342px) {
        .lpowered {
            padding-top: 1.5em;
        }
    }
    @media screen and (max-width: 434px) {
        .lbottom {
            height: 14vh;
            top: 86%;
        }
    }
    @media screen and (max-width: 543px) {
        .lbottom {
            height: 17vh;
            top: 83%;
        }
    }
    @media screen and (max-width: 780px) {
        .lsbf20 {
            width: 60vw;
            height: auto;
        }
        .lsgbook_title {
            font-size: 1.75em;
        }
        .lsgbook_desc {
            font-size: 1.15em;
        }
    }
    @media screen and (min-width: 658px) and (max-width: 954px) {
        .lbottom {
            height: 10vh;
            top: 90%;
        }
    }
    @media screen and (min-width: 955px) and (max-width: 1002px) {
        .lbottom {
            height: 11vh;
            top: 89%;
        }
    }
    @media screen and (min-width: 1003px) and (max-width: 1173px) {
        .lbottom {
            height: 12vh;
            top: 88%;
        }
        .lmain {
            background-size: cover;
        }
    }
    @media screen and (min-width: 1174px) and (max-width: 1432px) {
        .lbottom {
            height: 14vh;
            top: 86%;
        }
        .lmain {
            background-size: cover;
        }
    }
    @media screen and (min-width: 1433px) and (max-width: 1566px) {
        .lbottom {
            height: 17vh;
            top: 83%;
        }
        .lmain {
            background-size: cover;
        }
    }
    @media screen and (min-width: 1567px) {
        .ltop {
            height: 70vh;
        }
        .lsbf20 {
            height: 40vh;
            width: auto;
        }
        .lmain {
            background-size: cover;
        }
        .lsgbook_title {
            font-size: 2.4em;
        }
        .lsgbook_desc {
            font-size: 1.6em;
        }
    }
    #light-up {
        /*position: relative;
        height: 100vh;*/
        font-weight: bold;
        margin: 0px;
        /*height: 100vh;*/
        height: 100%;
        width: 100%;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        background-image: url('nypimg/bkgd_red_portrait.png');
        background-repeat: no-repeat;
        background-size: contain;/*cover*/
        background-position: bottom;
    }

    #light-up-btn {
        /*position: absolute;
        top: 60%;
        left: 50%;
        text-align: center;
        font-size: 30px;
        padding: 1.5rem 1rem;
        color: white;
        background-color: #082c6c;
        border-radius: 15px;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);*/

        text-align: center;
        text-transform: uppercase;
        font-size: 1.2rem;
        padding: 2vh 4vh;
        color: #f2f2f2;
        /*background-color: #082c6c;
        border-radius: 15px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.55), 0 6px 20px 0 rgba(0,0,0,0.19);*/
        background-image: url('nypimg/btn_blue.png');
        background-repeat: no-repeat;
        background-position: center center;
        margin: 4vh 0vh 0vh;
        border: solid 3px #f2f2f2;
        border-radius: 45px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.55), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    #light-up-btn:hover, #light-up-btn:active {
        background-image: url('nypimg/btn_gray.png');
        border-color: #333333;
        color: gray;
    }
    @media screen and (max-width: 399px) {
        #light-up-btn {
            font-size: 1rem;
        }
    }
    @media screen and (max-width: 280px) {
        #light-up-btn {
            font-size: 0.8rem;
        }
    }
</style>