.slide-submit {
    background:linear-gradient(to right, #222222, #ffd57a);
    /*background-image: url('/nypimg/btn_slide2.png');*/
    background-size: cover;
    color:white; /*Text Color */
    box-shadow:0 0 0 3px #f7b525; /* The Border Color*/
    border-radius:30px;
    text-align:center;
    padding:2.0em 1.5em;
    font-size:1em;
    position:relative;
    overflow:hidden;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    transition:.2s;
    width: 50vh;
    /*margin: 78.5vh auto auto auto;*/
}
.slide-submit-text{
    display:inline-block
}
.slide-submit-thumb{
    position:absolute;
    top:0px;
    left:0px;
    width:65px;
    height:100%;
    background:white; /* The slider color */
    box-shadow:inset 0 0 0 2px #f3f5f6,inset 0 0 0 4px rgba(0,0,0,0.17);
    text-shadow:0 -1px #828282;
    border-radius:30px;
    box-sizing:border-box;
    text-align:center;
    font-size:20px;
    line-height:35px;
    font-family:serif;
    color:greenyellow;
}
.slide-submit-thumb:hover,.draggable{
    background:#febf36;
    cursor:-webkit-grab;
    cursor:grab
}
.slide-submit-thumb:active{
    background:#fecd07;
    cursor:-webkit-grabbing;
    cursor:grabbing
}
.slide-success{
    background:linear-gradient(to left, #222222, #ffd57a);
    text-align:left;
    color:#fff;
    box-shadow:0 0 0 3px #febf36;
    font-size: 1em;
}
.slide-success .slide-submit-thumb{
    background:white;
    box-shadow:inset 0 0 0 2px #ffd57a,inset 0 0 0 3px rgba(0,0,0,0.17);
    color:#ffd57a;
    pointer-events:none
}
@media (orientation: portrait){
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.8em;
        text-align:right;
        width: 25vh;
        margin: 40vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media (orientation: landscape){
    .slide-submit {
        background-size: cover;
        padding:2em 1.5em;
        font-size:1em;
        text-align:center;
        width: 50vh;
        margin: 78.5vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 568px) and (width: 320px) {
    /*Iphone 5s/5c/5/SE*/
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.6em;
        text-align:right;
        width: 32vh;
        margin: 50.5vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 640px) and (width: 360px) {
    /*Samsung S6/S6 Edge/S7/S7 Edge
      Sony Xperia X/XZ
      HTC Desire 628/10 Lifestyle
    */
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.65em;
        text-align:right;
        width: 30vh;
        margin: 51vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 720px) and (width: 360px) {
    /*Samsung A6s
      Huawei Mate 10 Lite
    */
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.6em;
        text-align:right;
        width: 25vh;
        margin: 45vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 740px) and (width: 360px) {
    /*Samsung S8/S8+/S9/S9+*/
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.8em;
        text-align:right;
        width: 25vh;
        margin: 43vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 760px) and (width: 360px) {
    /*Samsung S10*/
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.7em;
        text-align:right;
        width: 27vh;
        margin: 42vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 770px) and (width: 360px) {
    /*Huawei Nove 7i*/
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.7em;
        text-align:right;
        width: 27vh;
        margin: 41.5vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 780px) and (width: 360px) {
    /*Iphone 12 mini/13 mini
      Honor 8X/9X
      Huawei Y9s/Y9 Prime/Mate 20 Lite/Mate 20 Pro/Mate 30
    */
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.7em;
        text-align:right;
        width: 26vh;
        margin: 41vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 800px) and (width: 360px) {
    /*Samsung S20*/
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.8em;
        text-align:right;
        width: 26.5vh;
        margin: 40vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 667px) and (width: 375px) {
    /*Iphone 6/6s/7/8/SE 2020*/
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.8em;
        text-align:right;
        width: 32vh;
        margin: 50vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 812px) and (width: 375px) {
    /*Iphone X/XS/11 Pro*/
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.8em;
        text-align:right;
        width: 26vh;
        margin: 41vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 854px) and (width: 384px) {
    /*Samsung S20+/S21 Ultra*/
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.8em;
        text-align:right;
        width: 26vh;
        margin: 40vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 844px) and (width: 390px) {
    /*Iphone 12/12 Pro/13/13 Pro*/
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.8em;
        text-align:right;
        width: 26vh;
        margin: 40vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 800px) and (width: 392px) {
    /*Huawei Mate 30 Pro*/
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.8em;
        text-align:right;
        width: 28vh;
        margin: 43.5vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 786px) and (width: 393px) {
    /*Google Pixel 3*/
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.8em;
        text-align:right;
        width: 28vh;
        margin: 45vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 851px) and (width: 393px) {
    /*Xiaomi Mi Note 7/Note 8/Note 8 Pro/9/9T Pro/10/Note 10*/
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.8em;
        text-align:right;
        width: 26vh;
        margin: 41vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 873px) and (width: 393px) {
    /*Xiaomi Mi 10T Pro*/
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.8em;
        text-align:right;
        width: 25vh;
        margin: 40vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 732px) and (width: 412px) {
    /*Google Pixel/2/XL*/
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.8em;
        text-align:right;
        width: 30vh;
        margin: 50.5vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}

@media screen and (height: 846px) and (width: 412px) {
    /*Google Pixel 3 XL*/
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.8em;
        text-align:right;
        width: 25vh;
        margin: 43vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 869px) and (width: 412px) {
    /*Samsung S10+/Note 10/Note 10+
      OnePlus 6
    */
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.8em;
        text-align:right;
        width: 25vh;
        margin: 43vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 883px) and (width: 412px) {
    /* Samsung Note 20 Ultra*/
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.8em;
        text-align:right;
        width: 25vh;
        margin: 42vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 892px) and (width: 412px) {
    /* Samsung A30
       OnePlus 6T/7/7 Pro/7T Pro/
    */
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.8em;
        text-align:right;
        width: 25vh;
        margin: 42vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 896px) and (width: 412px) {
    /* Samsung S10+*/
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.8em;
        text-align:right;
        width: 25vh;
        margin: 41vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 906px) and (width: 412px) {
    /* OnePlus 8 Pro*/
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.8em;
        text-align:right;
        width: 25vh;
        margin: 40.5vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 914px) and (width: 412px) {
    /* Samsung A70s/A71/S10 Lite/S20 FE
       OnePlus 7T/8T
    */
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.8em;
        text-align:right;
        width: 25vh;
        margin: 40vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 915px) and (width: 412px) {
    /* Samsung A31/A32/A51/Note 20/S20 Ultra
       OnePlus Nord/Nord 2/8/9
    */
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.8em;
        text-align:right;
        width: 25vh;
        margin: 40vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 919px) and (width: 412px) {
    /* OnePlus 9 Pro/10 Pro*/
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.8em;
        text-align:right;
        width: 25vh;
        margin:40vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 1004px) and (width: 412px) {
    /* Samsung Z Flip*/
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.8em;
        text-align:right;
        width: 23vh;
        margin: 36vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 736px) and (width: 414px) {
    /*Iphone 6s Plus/7 Plus/8 Plus*/
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.8em;
        text-align:right;
        width: 31vh;
        margin: 51vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 846px) and (width: 414px) {
    /*Samsung Note 8/9*/
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.8em;
        text-align:right;
        width: 25vh;
        margin: 43vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 896px) and (width: 414px) {
    /*Iphone 11/11 Pro Max/XR/XS Max*/
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.8em;
        text-align:right;
        width: 25vh;
        margin: 41vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 926px) and (width: 428px) {
    /*Iphone 12 Pro Max/13 Pro Max*/
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:.8em;
        text-align:right;
        width: 25vh;
        margin: 42vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 1076px) and (width: 768px) {
    /*Samsung Fold*/
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:1em;
        text-align:center;
        width: 35vh;
        margin: 70vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 1080px) and (width: 810px) {
    /*Apple Ipad 10.2"*/
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:1em;
        text-align:center;
        width: 40vh;
        margin: 71vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}
@media screen and (height: 1180px) and (width: 820px) {
    /*Apple Ipad Air 10.9"*/
    .slide-submit {
        background-size: cover;
        background-repeat: no-repeat;
        padding:1.5em 1.5em;
        font-size:1em;
        text-align:center;
        width: 40vh;
        margin: 72vh auto auto auto;
    }
    .slide-success{
        text-align: left;
        font-size: .8em;
    }
}